@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */
	@font-face {
	 font-family: "lato";
	 src: url(../vendor/webfonts/Lato/Lato-Regular.ttf) format("truetype");
	
	font-family: "lato1";
	src: url("../vendor/webfonts/Lato/Lato-Black.ttf") format("truetype");
}

 /* ======= Your styling goes below ======= */
/*4 Common Styling
=========================================================================== */
ul{list-style-type: none;}
main{background:black;}
span{display: block;}
a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

 /*5. Wrapper
 ==========================================================================*/
.wrapper{
	max-width: 1476px;
	width:95.31%;
	margin: 0 auto;
}
/*6. Header
===========================================================================*/
header{
	position:relative;
	background:#fff;
	z-index: 2;
}

h1{
	font-family: "lato1", sans-serif;
	font-size: 30px;
	line-height: 40px;
	padding:10px; 
	color: #121212;
	display: inline-block;
	font-weight: 400;
}
nav{
	display: inline-block;
	float: right;
}
.navigation__link{
	display: inline-block;
	padding: 26px 17.5px;
	font-family: "lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.navigation li:last-child{
	border-left: .5px solid black;
	padding: 26px 29px;
}
.navigation__link a:hover{
	text-decoration: underline;
}
/*7 banner
===============================================================================*/

#myVideo {
  position: relative;
  left: 0;
  right: 0;
  bottom: 60px;
  min-width: 100%; 
  min-height: 100%;
}

/*8 archive section
================================================================================*/
.archive{
	position: relative;
	z-index: 0;
}


figure img{
	border-radius: 50%;
	width: 440px;
	padding: 80px 30px;
}
.archive h2{
	position: absolute;
	top:311px;
	right:0;
	left: 430px;
	font-weight: 800;
	font-family: sans-serif;
	
}

a[title="archive"]{
	font-size: 68px;
	line-height: 78px;
	color: white;
	text-decoration: none;
	/*background-image: linear-gradient(to bottom,#fff 50%,transparent 50%);
	background-repeat: repeat-x;
	backface-visibility: hidden;
	background-size: 14px 14px;*/
	transition: background-position .3s cubic-bezier(.2,.46,.41,1);
}
a[title="archive"]:hover{
	background-position: 0 61px;
	text-decoration: underline;
}

/*9. Adpro Section
================================================================================*/

.adpro{
	position: relative;
	z-index: 0;
}

figure img{
	border-radius: 50%;
	width: 440px;
	padding: 80px 30px;
}
.adpro h2{
	position: absolute;
	top:311px;
	right:0;
	left: 430px;
	font-weight: 800;
	font-family: sans-serif;
	
}

a[title="adpro"]{
	font-size: 68px;
	line-height: 78px;
	color: white;
	text-decoration: none;
	/*background-image: linear-gradient(to bottom,#fff 50%,transparent 50%);
	background-repeat: repeat-x;
	backface-visibility: hidden;
	background-size: 14px 14px;*/
	transition: background-position .3s cubic-bezier(.2,.46,.41,1);
}
a[title="adpro"]:hover{
	background-position: 0 61px;
	text-decoration: underline;
}
/*10. Travel Section
===============================================================================*/
.travel{
	position: relative;
	z-index: 0;
}

.womentravel{
	border-radius: 0;
	width: 440px;
	/*padding: 80px 30px;*/
	height: 510px;
}
.travel h2{
	position: absolute;
	top:311px;
	right:0;
	left: 430px;
	font-weight: 800;
	font-family: sans-serif;
}

a[title="travel"]{
	font-size: 68px;
	line-height: 78px;
	color: white;
	text-decoration: none;
	/*background-image: linear-gradient(to bottom,#fff 50%,transparent 50%);
	background-repeat: repeat-x;
	backface-visibility: hidden;
	background-size: 14px 14px;*/
	transition: background-position .3s cubic-bezier(.2,.46,.41,1);
}
a[title="adpro"]:hover{
	background-position: 0 61px;
	text-decoration: underline;
}
/*11 updates
===============================================================================*/
/*12 Footer
===============================================================================*/
footer{
	position: relative;
	top: 1px;
	padding: 20px;
	z-index: 1;
	background: black;
}
.para {
	display: inline-block;
	color: #c7c7c7;

}
.para li{display: inline-block;
	/*color: white;*/
}

.link__list1{
	display: inline-block;
	padding: 10px;
	margin:0 0 0 255px;

}
.link__list1 li{
	display: inline-block;
	margin:0 10px 0 0;
	font-size: 19px;
	padding: 0 19px 0 0;
	/*color: white;*/

}
.link__list1 a{color: #807f83;}
.link__list1 a:hover{color:#fff;}

.link__list2{
	display: inline-block;
	padding: 10px;
	margin:0 0 0 260px;
	/*color: white;*/

	}
.link__list2 li{
	display: inline-block;
	color: white;
	padding: 0 8px 0 0;
}
.link__list2 a{color: #c7c7c7;}
.link__list2 a:hover{text-decoration: underline;}
.policy{
	padding-top: 12px; 
	max-width: 500px;
	margin: 0 auto;
	font-size: .71429em;
	color: #807f83;
}
/*Media quires
====================================================================*/

@media screen and (max-width: 768px) {
	/* Header */
	header { 
		padding:20px 0;
		text-align: center; 
	}
	h1 { padding: 0 }
	nav { display: none; }

	/* Archive Adpro Travel */
	.archive, .adpro, .travel { text-align: center; }
	.archive img, .adpro img, .travel img { width:85%; }
	.archive h2, .adpro h2, .travel h2 { position: static; }
}